
<style type="text/css">
	#completed_text{
		text-align: center;
		font-size: 32px;
		max-width: 474px;
		margin: auto;
		color: #bbb;
		padding-top: 53px;
	}
	#success_other_links{
		text-align: center;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		padding-top:30px;
	}
	#success_other_links span a{
		padding: 10px 15px;
		border: 1px solid #ddd;
		color:#333;
		border-radius: 15px;
	}
</style>
<form id="form_html" method="post" enctype="multipart/form-data">
	<div id="form-topic">Completed</div>
	<hr>
	<p id="completed_text">Your Application is complete, you will be contacted if shortlisted!!</p>
	<hr style="margin-top:36px;">
	<div id="success_other_links">
		<span><a href="{% url 'logout_page'%}">Logout</a></span>
	</div>
</form>